body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:789px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:778px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u243 {
  position:absolute;
  left:30px;
  top:30px;
  width:450px;
  height:778px;
}
#u244 {
  position:absolute;
  left:2px;
  top:381px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u245 {
  position:absolute;
  left:30px;
  top:30px;
  width:450px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u246 {
  position:absolute;
  left:2px;
  top:12px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u248 {
  position:absolute;
  left:45px;
  top:45px;
  width:9px;
  height:14px;
}
#u249 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u250 {
  position:absolute;
  left:60px;
  top:42px;
  width:29px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u252 {
  position:absolute;
  left:127px;
  top:40px;
  width:257px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  word-wrap:break-word;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  line-height:24px;
}
#u254 {
  position:absolute;
  left:513px;
  top:30px;
  width:276px;
  height:116px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  line-height:24px;
}
#u255 {
  position:absolute;
  left:10px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u256_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:324px;
}
#u256 {
  position:absolute;
  left:30px;
  top:71px;
  width:450px;
  height:322px;
}
#u257 {
  position:absolute;
  left:2px;
  top:153px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u258 {
  position:absolute;
  left:51px;
  top:128px;
  width:357px;
  height:120px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u259 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u260_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:44px;
}
#u260 {
  position:absolute;
  left:30px;
  top:72px;
  width:450px;
  height:42px;
}
#u261 {
  position:absolute;
  left:2px;
  top:13px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
}
#u262 {
  position:absolute;
  left:51px;
  top:83px;
  width:39px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u265 {
  position:absolute;
  left:99px;
  top:86px;
  width:16px;
  height:16px;
  font-size:14px;
  text-align:left;
}
#u266 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u267 {
  position:absolute;
  left:99px;
  top:86px;
  width:16px;
  height:16px;
  font-size:14px;
  text-align:left;
}
#u268 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u269 {
  position:absolute;
  left:30px;
  top:71px;
  width:450px;
  height:1px;
  font-size:14px;
}
#u270 {
  position:absolute;
  left:2px;
  top:-8px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u272 {
  position:absolute;
  left:431px;
  top:366px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u274 {
  position:absolute;
  left:412px;
  top:366px;
  width:16px;
  height:16px;
}
#u275 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u277_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:45px;
}
#u277 {
  position:absolute;
  left:30px;
  top:315px;
  width:450px;
  height:43px;
}
#u278 {
  position:absolute;
  left:2px;
  top:14px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u279 {
  position:absolute;
  left:51px;
  top:328px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u280 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u281 {
  position:absolute;
  left:98px;
  top:328px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u284 {
  position:absolute;
  left:51px;
  top:366px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u285 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u286 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u287 {
  position:absolute;
  left:155px;
  top:366px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u288 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 102, 102, 0.8);
  line-height:24px;
}
#u289 {
  position:absolute;
  left:53px;
  top:279px;
  width:152px;
  height:24px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(255, 102, 102, 0.8);
  line-height:24px;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  word-wrap:break-word;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u291 {
  position:absolute;
  left:80px;
  top:250px;
  width:26px;
  height:22px;
  font-size:14px;
  color:#3399FF;
  text-align:left;
  line-height:24px;
}
#u292 {
  position:absolute;
  left:6px;
  top:-1px;
  width:18px;
  word-wrap:break-word;
}
#u293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u293 {
  position:absolute;
  left:50px;
  top:251px;
  width:20px;
  height:20px;
}
#u294 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u295_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:417px;
}
#u295 {
  position:absolute;
  left:30px;
  top:393px;
  width:450px;
  height:415px;
}
#u296 {
  position:absolute;
  left:2px;
  top:200px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u297_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:44px;
}
#u297 {
  position:absolute;
  left:30px;
  top:394px;
  width:450px;
  height:42px;
}
#u298 {
  position:absolute;
  left:2px;
  top:13px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
}
#u299 {
  position:absolute;
  left:51px;
  top:405px;
  width:43px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u300 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u301 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u302 {
  position:absolute;
  left:99px;
  top:408px;
  width:16px;
  height:16px;
  font-size:14px;
  text-align:left;
}
#u303 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u304 {
  position:absolute;
  left:99px;
  top:408px;
  width:16px;
  height:16px;
  font-size:14px;
  text-align:left;
}
#u305 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u306 {
  position:absolute;
  left:30px;
  top:393px;
  width:450px;
  height:1px;
  font-size:14px;
}
#u307 {
  position:absolute;
  left:2px;
  top:-8px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u308 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u309 {
  position:absolute;
  left:431px;
  top:766px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u310 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u311 {
  position:absolute;
  left:412px;
  top:766px;
  width:16px;
  height:16px;
}
#u312 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u314_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:45px;
}
#u314 {
  position:absolute;
  left:30px;
  top:715px;
  width:450px;
  height:43px;
}
#u315 {
  position:absolute;
  left:2px;
  top:14px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u316 {
  position:absolute;
  left:51px;
  top:728px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u317 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u318 {
  position:absolute;
  left:98px;
  top:728px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u321 {
  position:absolute;
  left:51px;
  top:766px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u322 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u323 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u324 {
  position:absolute;
  left:155px;
  top:766px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u325 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:14px;
}
#u326 {
  position:absolute;
  left:54px;
  top:636px;
  width:20px;
  height:14px;
}
#u327 {
  position:absolute;
  left:2px;
  top:-1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:2px;
}
#u328 {
  position:absolute;
  left:31px;
  top:546px;
  width:446px;
  height:1px;
}
#u329 {
  position:absolute;
  left:2px;
  top:-8px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:2px;
}
#u330 {
  position:absolute;
  left:31px;
  top:625px;
  width:446px;
  height:1px;
}
#u331 {
  position:absolute;
  left:2px;
  top:-8px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:24px;
}
#u332 {
  position:absolute;
  left:127px;
  top:571px;
  width:15px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u333 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u334 {
  position:absolute;
  left:47px;
  top:448px;
  width:357px;
  height:48px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u336 {
  position:absolute;
  left:49px;
  top:557px;
  width:20px;
  height:20px;
}
#u337 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
}
#u338 {
  position:absolute;
  left:127px;
  top:646px;
  width:29px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:2px;
}
#u340 {
  position:absolute;
  left:31px;
  top:687px;
  width:446px;
  height:1px;
}
#u341 {
  position:absolute;
  left:2px;
  top:-8px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
