body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u915 {
  position:absolute;
  left:119px;
  top:612px;
  width:16px;
  height:16px;
  font-size:14px;
  text-align:left;
}
#u916 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u917 {
  position:absolute;
  left:119px;
  top:612px;
  width:16px;
  height:16px;
  font-size:14px;
  text-align:left;
}
#u918 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:1358px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u919 {
  position:absolute;
  left:40px;
  top:40px;
  width:450px;
  height:1358px;
}
#u920 {
  position:absolute;
  left:2px;
  top:671px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u921 {
  position:absolute;
  left:40px;
  top:40px;
  width:450px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u922 {
  position:absolute;
  left:2px;
  top:12px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u924 {
  position:absolute;
  left:55px;
  top:55px;
  width:9px;
  height:14px;
}
#u925 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u926 {
  position:absolute;
  left:70px;
  top:52px;
  width:29px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u928 {
  position:absolute;
  left:215px;
  top:50px;
  width:103px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u930_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:498px;
}
#u930 {
  position:absolute;
  left:40px;
  top:91px;
  width:450px;
  height:496px;
}
#u931 {
  position:absolute;
  left:2px;
  top:240px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:44px;
}
#u932 {
  position:absolute;
  left:40px;
  top:92px;
  width:450px;
  height:42px;
}
#u933 {
  position:absolute;
  left:2px;
  top:13px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u934 {
  position:absolute;
  left:40px;
  top:91px;
  width:450px;
  height:1px;
  font-size:14px;
}
#u935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u936 {
  position:absolute;
  left:61px;
  top:160px;
  width:357px;
  height:48px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u937 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u939_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:45px;
}
#u939 {
  position:absolute;
  left:40px;
  top:493px;
  width:450px;
  height:43px;
}
#u940 {
  position:absolute;
  left:2px;
  top:14px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u941 {
  position:absolute;
  left:61px;
  top:506px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u943 {
  position:absolute;
  left:108px;
  top:506px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u946 {
  position:absolute;
  left:61px;
  top:553px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u947 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u949 {
  position:absolute;
  left:165px;
  top:553px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u950 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u951_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:382px;
}
#u951 {
  position:absolute;
  left:40px;
  top:597px;
  width:450px;
  height:380px;
}
#u952 {
  position:absolute;
  left:2px;
  top:182px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:44px;
}
#u953 {
  position:absolute;
  left:40px;
  top:598px;
  width:450px;
  height:42px;
}
#u954 {
  position:absolute;
  left:2px;
  top:13px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u955 {
  position:absolute;
  left:40px;
  top:597px;
  width:450px;
  height:1px;
  font-size:14px;
}
#u956 {
  position:absolute;
  left:2px;
  top:-8px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u957 {
  position:absolute;
  left:67px;
  top:666px;
  width:357px;
  height:48px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
}
#u959 {
  position:absolute;
  left:55px;
  top:101px;
  width:44px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u962 {
  position:absolute;
  left:110px;
  top:105px;
  width:16px;
  height:16px;
  font-size:14px;
  text-align:left;
}
#u963 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u964 {
  position:absolute;
  left:110px;
  top:105px;
  width:16px;
  height:16px;
  font-size:14px;
  text-align:left;
}
#u965 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u966 {
  position:absolute;
  left:61px;
  top:607px;
  width:48px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:69px;
}
#u968 {
  position:absolute;
  left:55px;
  top:288px;
  width:426px;
  height:69px;
}
#u969 {
  position:absolute;
  left:2px;
  top:26px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u970 {
  position:absolute;
  left:61px;
  top:253px;
  width:23px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:69px;
}
#u972 {
  position:absolute;
  left:55px;
  top:402px;
  width:426px;
  height:69px;
}
#u973 {
  position:absolute;
  left:2px;
  top:26px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u974 {
  position:absolute;
  left:61px;
  top:367px;
  width:25px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u976 {
  position:absolute;
  left:61px;
  top:229px;
  width:57px;
  height:24px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:2px;
}
#u978 {
  position:absolute;
  left:42px;
  top:218px;
  width:446px;
  height:1px;
}
#u979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:69px;
}
#u980 {
  position:absolute;
  left:55px;
  top:787px;
  width:426px;
  height:69px;
}
#u981 {
  position:absolute;
  left:2px;
  top:26px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u982 {
  position:absolute;
  left:61px;
  top:753px;
  width:57px;
  height:24px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:2px;
}
#u984 {
  position:absolute;
  left:42px;
  top:742px;
  width:446px;
  height:1px;
}
#u985 {
  position:absolute;
  left:2px;
  top:-8px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u987_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:45px;
}
#u987 {
  position:absolute;
  left:40px;
  top:884px;
  width:450px;
  height:43px;
}
#u988 {
  position:absolute;
  left:2px;
  top:14px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u989 {
  position:absolute;
  left:61px;
  top:897px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u991 {
  position:absolute;
  left:108px;
  top:897px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u994 {
  position:absolute;
  left:61px;
  top:944px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u995 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u997 {
  position:absolute;
  left:165px;
  top:944px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u998 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u999 {
  position:absolute;
  left:469px;
  top:234px;
  width:9px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1000 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1001 {
  position:absolute;
  left:469px;
  top:758px;
  width:9px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1002 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u1003 {
  position:absolute;
  left:429px;
  top:55px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
  text-align:center;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u1005 {
  position:absolute;
  left:453px;
  top:105px;
  width:25px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
  line-height:24px;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u1007 {
  position:absolute;
  left:412px;
  top:105px;
  width:25px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  line-height:24px;
}
#u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u1009 {
  position:absolute;
  left:441px;
  top:607px;
  width:37px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
  line-height:24px;
}
#u1010 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u1011 {
  position:absolute;
  left:400px;
  top:607px;
  width:25px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  line-height:24px;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1013_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:382px;
}
#u1013 {
  position:absolute;
  left:40px;
  top:990px;
  width:450px;
  height:380px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:182px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:44px;
}
#u1015 {
  position:absolute;
  left:40px;
  top:991px;
  width:450px;
  height:42px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:13px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:451px;
  height:2px;
}
#u1017 {
  position:absolute;
  left:40px;
  top:990px;
  width:450px;
  height:1px;
  font-size:14px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:-8px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1019 {
  position:absolute;
  left:67px;
  top:1059px;
  width:357px;
  height:48px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  word-wrap:break-word;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:25px;
}
#u1021 {
  position:absolute;
  left:61px;
  top:1000px;
  width:48px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:69px;
}
#u1023 {
  position:absolute;
  left:55px;
  top:1180px;
  width:426px;
  height:69px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:26px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:24px;
}
#u1025 {
  position:absolute;
  left:61px;
  top:1146px;
  width:57px;
  height:24px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  line-height:24px;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:447px;
  height:2px;
}
#u1027 {
  position:absolute;
  left:42px;
  top:1135px;
  width:446px;
  height:1px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:-8px;
  width:442px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1030_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:452px;
  height:45px;
}
#u1030 {
  position:absolute;
  left:40px;
  top:1277px;
  width:450px;
  height:43px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:14px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u1032 {
  position:absolute;
  left:61px;
  top:1290px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
}
#u1034 {
  position:absolute;
  left:108px;
  top:1290px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#BFBFBF;
}
#u1035 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1036 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u1037 {
  position:absolute;
  left:61px;
  top:1337px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u1038 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 153, 255, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u1040 {
  position:absolute;
  left:165px;
  top:1337px;
  width:84px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#3399FF;
  text-align:left;
}
#u1041 {
  position:absolute;
  left:2px;
  top:3px;
  width:80px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1042 {
  position:absolute;
  left:469px;
  top:1151px;
  width:9px;
  height:14px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1043 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:24px;
}
#u1044 {
  position:absolute;
  left:456px;
  top:1001px;
  width:25px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3399FF;
  line-height:24px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:24px;
}
#u1046 {
  position:absolute;
  left:391px;
  top:1001px;
  width:37px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF0000;
  text-align:right;
  line-height:24px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
