body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:817px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1788 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:19px;
  width:800px;
  height:600px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1788_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1790_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:40px;
  height:40px;
}
#u1790 {
  border-width:0px;
  position:absolute;
  left:773px;
  top:576px;
  width:30px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1791 {
  border-width:0px;
  position:absolute;
  left:781px;
  top:583px;
  width:15px;
  height:15px;
}
#u1791_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1792 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1793 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1794 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1795 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:29px;
  width:24px;
  height:24px;
}
#u1795_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:15px;
}
#u1796 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:32px;
  width:17px;
  height:15px;
}
#u1796_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1797_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#22A565;
}
#u1797 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:31px;
  width:49px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#22A565;
}
#u1797_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#22A565;
}
#u1798 {
  border-width:0px;
  position:absolute;
  left:738px;
  top:31px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#22A565;
}
#u1798_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
  color:#000000;
}
#u1799 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:31px;
  width:68px;
  height:20px;
  font-family:'PingFangTC-Semibold', 'PingFang TC Semibold', 'PingFang TC';
  font-weight:650;
  font-style:normal;
  color:#000000;
}
#u1799_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1801_img {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:53px;
  height:31px;
}
#u1801 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:29px;
  width:47px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#22A565;
  text-align:left;
}
#u1801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:43px;
  word-wrap:break-word;
}
#u1802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u1803 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:37px;
  width:9px;
  height:1px;
}
#u1803_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:2px;
}
#u1804 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:41px;
  width:9px;
  height:1px;
}
#u1804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:2px;
}
#u1805 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:45px;
  width:4px;
  height:1px;
}
#u1805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1807_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:11px;
}
#u1807 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:41px;
  width:3px;
  height:8px;
}
#u1807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1808_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:17px;
}
#u1808 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:35px;
  width:3px;
  height:14px;
}
#u1808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:6px;
  height:14px;
}
#u1809 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:38px;
  width:3px;
  height:11px;
}
#u1809_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:2px;
}
#u1810 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:51px;
  width:19px;
  height:1px;
}
#u1810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1811 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:174px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1812 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:174px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1812_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1813 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:174px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1813_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1814 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:174px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1814_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1815 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:249px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1816 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:249px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1817 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:249px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1817_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1818 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:249px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1818_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1819 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:429px;
  width:37px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u1819_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1821 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:150px;
  width:13px;
  height:16px;
  color:#666666;
}
#u1821_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u1822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1822 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:148px;
  width:25px;
  height:23px;
}
#u1822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1823 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:148px;
  width:25px;
  height:23px;
  color:#FFFFFF;
}
#u1823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1824 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:148px;
  width:25px;
  height:23px;
}
#u1824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1825 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:148px;
  width:25px;
  height:23px;
}
#u1825_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1826 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:224px;
  width:13px;
  height:16px;
  color:#666666;
}
#u1826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1827 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:222px;
  width:25px;
  height:23px;
}
#u1827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1828 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:222px;
  width:25px;
  height:23px;
}
#u1828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1829 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:222px;
  width:25px;
  height:23px;
  color:#FFFFFF;
}
#u1829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1830 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:222px;
  width:25px;
  height:23px;
}
#u1830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1831 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:293px;
  width:13px;
  height:16px;
  color:#666666;
}
#u1831_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:291px;
  width:25px;
  height:23px;
}
#u1832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:291px;
  width:25px;
  height:23px;
}
#u1833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:291px;
  width:25px;
  height:23px;
  color:#FFFFFF;
}
#u1834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:291px;
  width:25px;
  height:23px;
}
#u1835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1836 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:356px;
  width:13px;
  height:16px;
  color:#666666;
}
#u1836_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:354px;
  width:25px;
  height:23px;
}
#u1837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:354px;
  width:25px;
  height:23px;
}
#u1838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:354px;
  width:25px;
  height:23px;
  color:#FFFFFF;
}
#u1839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:354px;
  width:25px;
  height:23px;
}
#u1840_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:430px;
  width:13px;
  height:16px;
  color:#666666;
}
#u1841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:428px;
  width:25px;
  height:23px;
}
#u1842_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:428px;
  width:25px;
  height:23px;
}
#u1843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:428px;
  width:25px;
  height:23px;
}
#u1844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:428px;
  width:25px;
  height:23px;
}
#u1845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u1846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:321px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:321px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:321px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:321px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1849_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1850_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:387px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1850_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1851_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:387px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:387px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:387px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:456px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1854_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1855_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:456px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1855_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1856_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:456px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:456px;
  width:25px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:14px;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:564px;
  width:45px;
  height:14px;
}
#u1858_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:588px;
  width:72px;
  height:16px;
}
#u1859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
