body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:951px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:683px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1186 {
  position:absolute;
  left:501px;
  top:30px;
  width:450px;
  height:683px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:334px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1188 {
  position:absolute;
  left:501px;
  top:30px;
  width:450px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:10px;
  width:446px;
  word-wrap:break-word;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1191 {
  position:absolute;
  left:516px;
  top:45px;
  width:9px;
  height:14px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1193 {
  position:absolute;
  left:531px;
  top:42px;
  width:29px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1194 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:683px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.2);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  position:absolute;
  left:30px;
  top:30px;
  width:450px;
  height:683px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:334px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.498039215686275);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1197 {
  position:absolute;
  left:30px;
  top:30px;
  width:450px;
  height:41px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:10px;
  width:446px;
  word-wrap:break-word;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1200 {
  position:absolute;
  left:45px;
  top:45px;
  width:9px;
  height:14px;
}
#u1201 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1202 {
  position:absolute;
  left:60px;
  top:42px;
  width:29px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1203 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:633px;
}
#u1204 {
  position:absolute;
  left:31px;
  top:71px;
  width:448px;
  height:633px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:308px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:633px;
}
#u1206 {
  position:absolute;
  left:503px;
  top:71px;
  width:448px;
  height:633px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:308px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1208 {
  position:absolute;
  left:222px;
  top:661px;
  width:67px;
  height:30px;
  color:#FFFFFF;
}
#u1209 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u1210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1210 {
  position:absolute;
  left:694px;
  top:661px;
  width:67px;
  height:30px;
  color:#FFFFFF;
}
#u1211 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
