body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:800px;
}
#u113 {
  position:absolute;
  left:30px;
  top:30px;
  width:600px;
  height:800px;
}
#u114 {
  position:absolute;
  left:2px;
  top:392px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:70px;
}
#u115 {
  position:absolute;
  left:40px;
  top:34px;
  width:40px;
  height:70px;
}
#u116 {
  position:absolute;
  left:2px;
  top:27px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:454px;
}
#u117 {
  position:absolute;
  left:30px;
  top:124px;
  width:600px;
  height:454px;
}
#u118 {
  position:absolute;
  left:2px;
  top:219px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
