body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:916px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:800px;
}
#u20 {
  position:absolute;
  left:30px;
  top:30px;
  width:600px;
  height:800px;
}
#u21 {
  position:absolute;
  left:2px;
  top:392px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  line-height:24px;
}
#u22 {
  position:absolute;
  left:640px;
  top:308px;
  width:276px;
  height:116px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  line-height:24px;
}
#u23 {
  position:absolute;
  left:10px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  line-height:24px;
}
#u24 {
  position:absolute;
  left:640px;
  top:459px;
  width:276px;
  height:92px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  line-height:24px;
}
#u25 {
  position:absolute;
  left:10px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  line-height:24px;
}
#u26 {
  position:absolute;
  left:640px;
  top:682px;
  width:276px;
  height:188px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-style:normal;
  line-height:24px;
}
#u27 {
  position:absolute;
  left:10px;
  top:10px;
  width:256px;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u28 {
  position:absolute;
  left:40px;
  top:787px;
  width:94px;
  height:36px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u30 {
  position:absolute;
  left:144px;
  top:787px;
  width:94px;
  height:36px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:51px;
}
#u32 {
  position:absolute;
  left:484px;
  top:779px;
  width:146px;
  height:51px;
}
#u33 {
  position:absolute;
  left:2px;
  top:18px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:36px;
}
#u34 {
  position:absolute;
  left:209px;
  top:115px;
  width:94px;
  height:36px;
}
#u35 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:70px;
}
#u36 {
  position:absolute;
  left:40px;
  top:34px;
  width:40px;
  height:70px;
}
#u37 {
  position:absolute;
  left:2px;
  top:27px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u38 {
  position:absolute;
  left:495px;
  top:332px;
  width:106px;
  height:36px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:355px;
}
#u40 {
  position:absolute;
  left:71px;
  top:412px;
  width:135px;
  height:355px;
}
#u41 {
  position:absolute;
  left:2px;
  top:170px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:346px;
}
#u42 {
  position:absolute;
  left:484px;
  top:412px;
  width:106px;
  height:346px;
}
#u43 {
  position:absolute;
  left:2px;
  top:165px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
