body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:800px;
}
#u342 {
  position:absolute;
  left:30px;
  top:30px;
  width:600px;
  height:800px;
}
#u343 {
  position:absolute;
  left:2px;
  top:392px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:96px;
}
#u344 {
  position:absolute;
  left:50px;
  top:382px;
  width:492px;
  height:96px;
}
#u345 {
  position:absolute;
  left:2px;
  top:40px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:54px;
}
#u346 {
  position:absolute;
  left:50px;
  top:514px;
  width:567px;
  height:54px;
}
#u347 {
  position:absolute;
  left:2px;
  top:19px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
