body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:800px;
}
#u103 {
  position:absolute;
  left:30px;
  top:30px;
  width:600px;
  height:800px;
}
#u104 {
  position:absolute;
  left:2px;
  top:392px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:70px;
}
#u105 {
  position:absolute;
  left:40px;
  top:34px;
  width:40px;
  height:70px;
}
#u106 {
  position:absolute;
  left:2px;
  top:27px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
