body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:800px;
}
#u14 {
  position:absolute;
  left:30px;
  top:30px;
  width:600px;
  height:800px;
}
#u15 {
  position:absolute;
  left:2px;
  top:392px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:312px;
}
#u16 {
  position:absolute;
  left:30px;
  top:377px;
  width:600px;
  height:312px;
}
#u17 {
  position:absolute;
  left:2px;
  top:148px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:70px;
}
#u18 {
  position:absolute;
  left:40px;
  top:34px;
  width:40px;
  height:70px;
}
#u19 {
  position:absolute;
  left:2px;
  top:27px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
