body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:630px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:970px;
}
#u555 {
  position:absolute;
  left:30px;
  top:30px;
  width:600px;
  height:970px;
}
#u556 {
  position:absolute;
  left:2px;
  top:477px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:70px;
}
#u557 {
  position:absolute;
  left:30px;
  top:770px;
  width:600px;
  height:70px;
}
#u558 {
  position:absolute;
  left:2px;
  top:27px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:70px;
}
#u559 {
  position:absolute;
  left:40px;
  top:34px;
  width:40px;
  height:70px;
}
#u560 {
  position:absolute;
  left:2px;
  top:27px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
